h1{
	text-align: center;
	border: bottom;
}
section{
	width:60%;
	float:left;
}
aside{
	width: 35%;
	float: right;
}
hr{
	height:15px;
	background-color:black;
}
footer{
	clear:both;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
div a{ 
	float:left;
	}
p{
	border-style: solid;
	padding:10px;
	font-family: sans-serif;
}
#navilist ul{ 
margin:0;
padding: 0;
list-style:none;}
#navlist li{
width:100px;
display:inline-block;
text-align:center;
}
footer{
	text-align: center
}